.attribution{
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

.card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image{
  width: 25%;
  height: 300px;
}

.card-image img{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-text{
  padding-left: 50px;
}

.nft p{
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
}

.footer{
  width: 25%;
}

.footer p{
  float: right;
  text-align: center;
  margin-right: 100px;
}

.footer img{
  width: 10%;
  padding-top: 13px;
}
